<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Historial</mat-card-title>
    </mat-card-header>
    <mat-card-content>
     
      
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Novedad" formControlName="NovedadH">
            <mat-error *ngIf="addressForm.controls['NovedadH'].hasError('required')">
              Novedad <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Sugerencia Usuario" formControlName="SugerenciausuarioH">
            <mat-error *ngIf="addressForm.controls['SugerenciausuarioH'].hasError('required')">
              Sugerencias<strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div> 
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Incidencias" formControlName="IncidenciasH">
            <mat-error *ngIf="addressForm.controls['IncidenciasH'].hasError('required')">
              Incidencias <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Componente" formControlName="ComponenteH">
            <mat-error *ngIf="addressForm.controls['ComponenteH'].hasError('required')">
              Componente <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        
      </div>
     
      
      
      
  
      
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
