<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Inventario</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Id Inventario" formControlName="IdInventario">
            <mat-error *ngIf="addressForm.controls['IdInventario'].hasError('required')">
              Id Inventario <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Descripcion" formControlName="DescripcionI">
            <mat-error *ngIf="addressForm.controls['DescripcionI'].hasError('required')">
              Descripcion <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Cantidad" formControlName="CantidadI">
            <mat-error *ngIf="addressForm.controls['CantidadI'].hasError('required')">
              Cantidad <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Componente" formControlName="ComponenteI">
            <mat-error *ngIf="addressForm.controls['ComponenteI'].hasError('required')">
              Componente <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Estado" formControlName="EstadoI">
            <mat-error *ngIf="addressForm.controls['EstadoI'].hasError('required')">
              Estado <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Id Proveedor" formControlName="ProveedorI">
            <mat-error *ngIf="addressForm.controls['ProveedorI'].hasError('required')">
              Proveedor <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      
      
      
  
      
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
