<form [formGroup] ="loginForm"  (ngSubmit)= "onSubmit()">
  <div class="Contenedor" id="contenedor"> 
  
  <span><img src="./assets/logo.png"></span>
<div class="email">
      <mat-form-field appearance="fill">
        <mat-label>Enter your email</mat-label>
        <input matInput  type="text" placeholder="pat@example.com" formControlName="username">
        <mat-error *ngIf ="loginForm.controls['username'].hasError('required')">
          <strong>Requerido</strong>
        </mat-error>
      </mat-form-field>
 </div>
 <div class="password">
  <mat-form-field appearance="fill">
    <mat-label>Enter your password</mat-label>
    <input matInput type="password" placeholder="password" formControlName="password" [type]="hide ? 'password' : 'text'">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf = "loginForm.controls['password'].hasError('required')">
      <strong>Requerido</strong>
 </mat-error>
  </mat-form-field>
 </div>   
    <div class="botom">
      <button mat-raised-button >Iniciar Sección</button>
    </div>
 
  </div>
</form>
