<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Solicitud PQR</mat-card-title>
    </mat-card-header>
    <mat-card-content>
     
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Id Solicitud" formControlName="IdSolicitud">
            <mat-error *ngIf="addressForm.controls['IdSolicitud'].hasError('required')">
              Id Solicitud <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Tipo" formControlName="TipoS">
            <mat-error *ngIf="addressForm.controls['TipoS'].hasError('required')">
              Tipo <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Descripcion" formControlName="DescripcionS">
            <mat-error *ngIf="addressForm.controls['DescripcionS'].hasError('required')">
              Descripcion<strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div> 
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Usuario" formControlName="UsuarioS">
            <mat-error *ngIf="addressForm.controls['UsuarioS'].hasError('required')">
              Componente <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Dispositivo" formControlName="DispositivoS">
            <mat-error *ngIf="addressForm.controls['DispositivoS'].hasError('required')">
              Estado <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
     
      
      
      
  
      
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
