<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Mantenimiento</mat-card-title>
    </mat-card-header>
    <mat-card-content>
     
      
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Estado" formControlName="EstadoM">
            <mat-error *ngIf="addressForm.controls['EstadoM'].hasError('required')">
              Estado <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Fecha" formControlName="FechaRevisionM">
            <mat-error *ngIf="addressForm.controls['FechaRevisionM'].hasError('required')">
              Fecha<strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div> 
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Descripcion" formControlName="DescripcionM">
            <mat-error *ngIf="addressForm.controls['DescripcionM'].hasError('required')">
              Componente <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Encargado" formControlName="EncargadoM">
            <mat-error *ngIf="addressForm.controls['EncargadoM'].hasError('required')">
              Estado <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Dispositivo" formControlName="DispositivoM">
            <mat-error *ngIf="addressForm.controls['DispositivoM'].hasError('required')">
              DispositivoM <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      
      
      
  
      
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
