<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Cliente</mat-card-title>
    </mat-card-header>
    <mat-card-content>

            <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Id IdPersona" formControlName="IdPersona">
            <mat-error *ngIf="addressForm.controls['IdPersona'].hasError('required')">
              Id Persona <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Nombre" formControlName="NombreP">
            <mat-error *ngIf="addressForm.controls['NombreP'].hasError('required')">
              Nombre <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Apellido" formControlName="ApellidoP">
            <mat-error *ngIf="addressForm.controls['ApellidoP'].hasError('required')">
              Apellido <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Direccion" formControlName="DireccionP">
            <mat-error *ngIf="addressForm.controls['DireccionP'].hasError('required')">
              Direccion <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Telefono" formControlName="TelefonoP">
            <mat-error *ngIf="addressForm.controls['TelefonoP'].hasError('required')">
              Telefono <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Correo" formControlName="CorreoP">
            <mat-error *ngIf="addressForm.controls['CorreoP'].hasError('required')">
              Correo <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>


    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>