<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Dashboard</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      
      
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="NombreD" formControlName="NombreD">
            <mat-error *ngIf="addressForm.controls['NombreD'].hasError('required')">
              NombreD- <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="LargoD" formControlName="LargoD">
            <mat-error *ngIf="addressForm.controls['LargoD'].hasError('required')">
              LargoD <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="AltoD" formControlName="AltoD">
            <mat-error *ngIf="addressForm.controls['AltoD'].hasError('required')">
              AltoD <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="AnchoD" formControlName="AnchoD">
            <mat-error *ngIf="addressForm.controls['AnchoD'].hasError('required')">
              AnchoD <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="PesoD" formControlName="PesoD">
            <mat-error *ngIf="addressForm.controls['PesoD'].hasError('required')">
              PesoD <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
    </div>
    
    <div class="row">
      <div class="col">
        <mat-form-field class="full-width">
          <input matInput placeholder="EmprD" formControlName="EmprD">
          <mat-error *ngIf="addressForm.controls['EmprD'].hasError('required')">
            EmprD <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>
      
      
      
  
      
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
